// Bootstrap vars
$screen-sm: 768px !default;

// Offcanvas vars
$offcanvas-width: 250px !default;
$offcanvas-animation-time: 0.15s !default;
$offcanvas-toggle-background: #f8f8f8 !default;
$offcanvas-toggle-bars-color: #000 !default;
